{% extends "auctions/layout.html" %}


{% block body %}
    <h2>Watchlist</h2><hr>
    {% if message %}
            <div class="message" id="message" style="background-color: #7bff76; text-align: center;">{{ message }} <p onclick="getElementById('message').className='hidden'">X</p></div>
    {% endif %}
    <div class="cols">
        {% if items %}
            {% for item in items %}
            <div class="item">
                <h5>Title: {{ item.title }}</h5>
                {% if item.image %}
                    <img src="{{ item.image }}" alt="Listing image" width="20%">
                {% else %}
                    <img src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg" alt="Listing image" width="20%">
                {% endif %}
                <p><strong>Description:</strong> {{ item.description }}</p>
                <p><strong>Current price:</strong> ${{ item.price }}</p>
                <form action="{% url 'listing' %}" method="post">{% csrf_token %}<input value="{{ item.id }}" name="id" type="hidden"><input type="submit" value="Details" class="details"></form>
            </div>
            {% endfor %}
        {% else %}
        <h2>No items in your watchlist</h2>
        {% endif %}
    </div>
{% endblock %}

