{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}


    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price at time of transaction</th>
            <th scope="col">Transaction type</th>
        </tr>
    </thead>
    <tbody>
        {% for element in history %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ element["date"] }}</td>
                <td>{{ element["name"] }}</td>
                <td>{{ element["shares"] }}</td>
                <td>${{ element["price"] }}</td>
                {% if element["op"] == 'buy'%}<th style="color: green">{{ element["op"] }}</th>{% endif %}
                {% if element["op"] == 'sell'%}<th style="color: red">{{ element["op"] }}</th>{% endif %}
                {% if element["op"] == 'Starting money'%}<th style="color: black">{{ element["op"] }}</th>{% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock %}

