{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="regusername" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="regpassword" name="password" placeholder="Password" type="password">
            <p>{{ error }}</p>
            <details>
                <summary>Password specifications</summary>
                <ul style="list-style-type:none">
                    <li>*Don't use a password that you use somewhere else</li>
                    <li>*Password must be between 6 and 20 characters long</li>
                </ul>
            </details>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="regpassworda" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <div id="myData"></div>
    </form>
{% endblock %}