{% extends "network/layout.html" %}

{% block body %}

<div class="auth">
    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <span>Username:</span>
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            <span>Password:</span>
            <input class="form-control" type="password" name="password" placeholder="Password">
            <input class="post-submit" type="submit" value="Login" id="lgn-btn">
        </form>
        
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div>

{% endblock %}